body{
	padding-top:20px;
	overflow-y:scroll;/* so the page won't "jump around" when switching on/off long content that (might) scroll page */
}
/* without this there is horizontal scrolling on mobile. but no content is ever there */
#root{
	overflow-x:hidden;
	padding-bottom:20px;
}

.container{
	max-width:1280px;
	margin:0 auto;
}

@media all and (max-width: 1280px) {
	.container{
		margin:0 5px;
	}
}

/* tab styles */
ul.tab-bar{
	display:flex;
	flex-wrap:wrap;
	margin:0;
	margin-left:8px;
	padding:0;
	list-style:none;
}
ul.tab-bar li.tab{
	display:flex;
	flex: 0 1;
	background-color:rgba(231, 231, 231, 0.966);
	border:1px solid gray;
	border-bottom:0;
	cursor: pointer;;
	margin:0 4px 0 0;
	padding:0;
	border-radius:5px 5px 0 0;
}
ul.tab-bar li.tab.placeholder{
	/* placeholder is shown before real tabs load */
	background: hsla(0,0%,74.5%,.2);
	border:0;
	color:white;
}
ul.tab-bar li.tab.placeholder .title{
	width:6em;
	max-width:20%;
}
ul.tab-bar li.tab:hover{
	background-color:white;
	color:#1890ff;
}
ul.tab-bar li.tab .title>a, ul.tab-bar li.tab .title>div{/*so the title text expands full width of "tab" and there's not unclickable dead area on the sides; put the padding here*/
	padding: 4px 10px;
	white-space:nowrap;
	display:block;
}

ul.tab-bar li.tab.active{
	background-color:white;
	z-index: 5;
	color:#1890ff;
	margin-bottom:-1px;
}
ul.tab-bar li.tab .icons-list{
	margin:0 8px 0 10px;/*negative right to make up for ul.tab-bar padding*/
	float:right;
	cursor:pointer;
	white-space:nowrap;
}
ul.tab-bar li.add{
	border-color:#0a4985;
	background-color:#1890ff;
	color:white;
}
ul.tab-bar li.lock{
	flex: 1 0;
	text-align:right;
	cursor: pointer;
	min-height:31px;
}

/* bar under the tabs for editing the current node */
.header-bar{
	background-color:white;
	padding: 12px 50px 12px 20px;
	border:1px solid gray;
	min-height:60px;
}
.header-bar>div>*{
	display:inline-block;
	margin:0 20px 0 0;
}

/* tree styles */
.tree{
	border:1px solid gray;
	border-top:0;
	padding:10px 0 0 0;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
@media all and (max-width: 992px){
	.tree{
		box-shadow: none;
	}
}
.tree .ant-tree-treenode .controls{
	position:absolute;
	right:2px;
	display:none;
}
.tree .ant-tree-treenode:hover .controls{
	display:inline-block;
}


/* content/editing */
.contentBlock{
	display:flex;
	height: calc(100vh - 160px);
	min-height:100px;
}
.contentBlock .contentEdit, .contentBlock .markdown-body{
	flex:1;
}
.contentBlock .markdown-body{
	margin-left:20px;
	overflow-y:scroll;
}
@media (max-width: 992px) {
	.contentBlock .markdown-body{
		display:none;
	}
}

pre {
	white-space: pre-wrap;
}
.markdown-body pre{
	background-color:#eff0f1;
	margin-bottom: 1em;
	padding: 12px 8px;
	width: auto;
	border-radius: 3px;
}
.markdown-body p code, .markdown-body li code{
	padding: 1px 5px;
}
.markdown-body code{
	color:#c51916;
	background-color:#eff0f1;
}
.markdown-body pre code{
	color:#962e8f;
}
.markdown-body .comment{
	color:#008000;
}
.markdown-body hr{
	height:0;
	border:0;
	border-top:1px dashed gray;
}
.markdown-body b {
	color: rgba(0,0,0,.80);
}
.markdown-body blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: .25em solid #dfe2e5;
}
.markdown-body blockquote>:first-child {
	margin-top: 0;
}
.markdown-body blockquote>:last-child {
	margin-bottom: 0;
}

/* markdown headers and edit button */
.markdown-body h1,.markdown-body h2,.markdown-body h3,.markdown-body h4,.markdown-body h5,.markdown-body h6{
	color: rgb(0, 0, 0, 0.65);
	position:relative;
}
.markdown-body h1{
	border-bottom:1px solid rgb(0, 0, 0, 0.15);
}
.markdown-body .anticon-edit{
	color:rgba(0, 0, 0, 0.1);
	font-size:16px;
	position:absolute;
	bottom:2px;
	right:0px;
}
.markdown-body .anticon-edit:hover{
	color:#1890ff;
}


/* tables */
.markdown-body table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}
.markdown-body table th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
	font-weight: 600;
}
.markdown-body table td, .markdown-body table th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}
.markdown-body table tr:nth-child(2n) {
	background-color: #f6f8fa;
}

.contentEdit textarea{
	width:100%;
	height:100%;
}

/* HTML paster in content editor */
.contentPasteModal textarea{
	width:100%;
}
.modal-edit {
	top: 0;
	height: calc(100vh - 16px);
	margin: 8px;
}
.modal-edit .ant-modal-content{
	height: calc(100vh - 16px);
	min-height:244px;
}
.modal-edit-buttons {
	/* if you allow it to wrap, .contentBlock height will push the footer buttons off the modal on mobile width */
	white-space: nowrap;
	overflow:hidden;
}
.modal-edit-buttons .ant-btn-group{
	margin:0 15px 8px 0;
}